@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Montserrat:wght@100;700&family=Playfair+Display&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }

  html {
    scroll-behavior: smooth;
  }  
  
body{
  font-family: 'Montserrat', sans-serif;
  position:relative;
  color:#000;
  
  /* set min height for short pages only */
  /* min-height:100vh; */
  /* footer height padding */
  padding-bottom: 150px;
  /* font-family: 'GFS Didot', serif; */
  
  }

  a{color:#000;
  text-decoration: none;}
  
  /* The Overlay (background) */
.overlay {
    /* Height set as 0 for navigation  to slide from the top*/   
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(255,255,0.5); /* Black fallback color */
    background-color: rgba(255,255,255, 0.5); /* White w/opacity */
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/overlay.jpg");
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  z-index:2;}
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    font-weight: 400;
    color: #000;
    display: block; /* Display block instead of inline */
    transition:border 1s 3s ease-in-out , all 1s 0s ease-out; /* Transition effects on hover (color) */
    width:50%; /*underline width */
    margin:0 auto;
    
  }

  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #010101;
    border-bottom:3px double #000;
    border-radius: 5px;
    transform: scale(1.2rem);
    font-weight: 600;
  }
  
  
  /* Position the toggle button (top right corner) */
  .togglebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 60px;
    cursor:pointer;
    z-index:999;
   
  }

   a#logo{
    font-family: 'GFS Didot', serif;
    background-color:#000;
    color:#fff;
    position: relative;
    top: 5px;
    left: 0;
    border:5px double #fff;
    height: 80px;
    width:100px;
    font-weight:bold;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    text-decoration: none;
    cursor:pointer
    
   }
  
   a#logo:hover {  background-color: #555;}
   a#logo .logo-components{
   
    font-style: italic;
    font-size:.5rem;
    transform:translate(-.2em);

   }

   a#logo #logo-initials {
    text-transform: uppercase;
    font-size:200%
    }

  a#logo #brackets {
    font-size:80%;
   
  }


  
  /* container for menu to allow for height value and horizontal align */
  .menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* match logo height and width including padding and margin*/
    width: 100px; 
    height: 90px;
    cursor: pointer;
    transition: all .5s ease-in-out;

  }
  .menu-btn__burger {
    width: 60px;
    height: 6px;
    background: #000;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,101,47,.2);
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 6px;
    background: #000;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,101,47,.2);
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before {
    transform: translateY(-16px);
  }
  .menu-btn__burger::after {
    transform: translateY(16px);
  }
  /* ANIMATION */
  .menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn__burger::after {
      transform: rotate(-45deg) translate(35px, 35px);}


      .hero-image {
        position:relative;
        top:10px;
        /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
        background-image: linear-gradient(rgba(255, 255, 255,0.4), rgba(255, 255, 255, 0.4)), url("../images/hero_lg.jpg");
      
        /* Set a specific height */
        height: calc(100vh - 90px);
      
        /* Position and center the image to scale nicely on all screens */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
      }
      
      /* Place text in the middle of the image */
      .hero-text {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      

      }   
      .hero-text h1{font-size: 500%;} 

      .hero-text #fname{ font-weight:600;}
      .hero-text #lname{font-weight:200;}
      .hero-text a{color:#000; font-size:500%;}

      .hero-text h2{ font-family: 'GFS Didot', serif;
      font-weight:200;
    font-style:italic; }    

    /* cards section */
 .section{padding-top:90px;}

 .section-headings{
    color:#000;
    width:100%;
    text-align:center;}
  
  #services {
    background-image: url('../images/cards_lg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
  }
  
  #services div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    min-height: 300px;
    float: left;
    padding: 30px 0 30px 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
  }
  
  #services h2 {
    color: #fafafa;
  }
  
  footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:150px;
    text-align: center;
    font-size:70%;
    clear:both;
  }
  /* position footer content */
  .footer-wrap {
  width:100%;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

  footer ul{
  
  list-style-type: none;
  display:inline-block;
  

  }
  footer ul li{float:left; padding: 0 10px; border-right:.5px solid #000;}
  footer ul li a{text-decoration:none; color:#000;}
  footer ul li:first-child {padding-left:0;}
  footer ul li:last-child {border:none; padding-right:0;}
/* scroll button to top of the page */
  #topBtn {
    opacity:0;
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: 5px double #fff;
    outline: none;
    background-color: #000;
    color: white;
    cursor: pointer;
    width:60px;
    height:40px;
    text-align:center;
    transition:opacity 2s ease-in;
  }
  
  #topBtn:hover {
    background-color: #555;
  }
  
/* social media icons */
  .container-social{
    position: fixed;
    right:0; top:90px;
    width:80px;
    /* set the height equal to hero image height */
    height:calc(100vh - 90px);
    

  }
 
 .content-social{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);}

  .fa-linkedin{margin-bottom:20px}

  #about-section {
    position:relative;
    top:10px;
    background-color: rgba(197, 198, 197, .5);
    width: 100%;
    overflow: hidden;
  
  
  }
   
  #about-section div {
    color: #000;
    background-color: rgba(255,255,255, .1);
    width: 100%;
    min-height: calc(100vh - 140px);
    border-bottom: 2px solid #fff;
   
  }

  #about-img{
    background-image: url("../images/about_md.jpg"),linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0));
    background-blend-mode:overlay;
    background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       
 }

 #about-text{
  position:relative;
  padding:0 40px;
 }

  .wrap-content{
   
    padding: 30px 0;
    text-align: justify;
   
    }

  #portfolio-section{ position:relative; top:10px; overflow: hidden; }
.portfolio-wrap{overflow: hidden; height: calc(70vh - 140px);width: 100%;}
.portfolio-img{
width: 100%;
height: calc(70vh - 140px);

    background-blend-mode:overlay;
    background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       border:2px solid #555;
       transition: all 2s ease-in-out;
       
      
    
}


#greyscale{background-image: url("../images/portfolio/greyscale.png"),linear-gradient(rgba(255,255,255,.5),rgba(255,255,255,.5));}
#greyscale:hover, #greyscale:focus{background-image: url("../images/portfolio/greyscale.png"); transform:scale(1.1);    }
#portfolio{background-image: url("../images/portfolio/portfolio.png"),linear-gradient(rgba(255,255,255,.5),rgba(255,255,255,.5));}
#portfolio:hover, #portfolio:focus{background-image: url("../images/portfolio/portfolio.png"); transform:scale(1.1);}
#freelancer{background-image: url("../images/portfolio/freelancer.png"),linear-gradient(rgba(255,255,255,.5),rgba(255,255,255,.5));}
#freelancer:hover, #freelancer:focus{background-image: url("../images/portfolio/freelancer.png"); transform:scale(1.1);}
#salon{background-image: url("../images/portfolio/salon.png"),linear-gradient(rgba(255,255,255,.5),rgba(255,255,255,.5));}
#salon:hover, #salon:focus{background-image: url("../images/portfolio/salon.png"); transform:scale(1.1);}
#resume{background-image: url("../images/portfolio/resume.png"),linear-gradient(rgba(255,255,255,.5),rgba(255,255,255,.5));}
#resume:hover, #resume:focus{background-image: url("../images/portfolio/resume.png");transform:scale(1.1);}
#comming-soon{background-image: url("../images/portfolio/comming_soon_sm.jpg"),linear-gradient(rgba(255,255,255,.5),rgba(255,255,255,.5));}
#comming-soon:hover,#comming-soon:focus{background-image: url("../images/portfolio/comming_soon_sm.jpg");transform:scale(1.1);}

.porfolio-overlay-text{line-height:calc(70vh - 140px); text-align:center;}
.porfolio-overlay-text:hover{opacity:0;}

  
/* contact */

.contact-wrap{
  position: relative;
  margin:10px 0px 0; 
  
   background-color: rgba(197, 198, 197, .5); 
   padding-bottom:20px;
  }

.contact-form{
    
    background-color:rgba(60, 60, 60, 0.6);
    width:100%;
    padding:20px 30px;
}  

.contact-form h2{
    color:#555;
    margin-bottom:20px;
    
}
.text-input{
    background:transparent;
    color:#fafafa;
    width:100%;
    height:25px;
    margin:5px 0 20px;
    border:1px solid #555;
    border-radius:2px;
    
}

.textarea-input, #templates option{width:100%;
  margin:5px 0 20px;
  border:1px solid #555;
  border-radius:2px;
color:#555;}

.text-input:hover{
    border-color:#fafafa;
}

.enquire-button{
    margin-top:20px;
    border-radius:2px;
    padding:15px 32px;
    text-align:center;
    font-size:100%;
    background-color:#555;
    color:#fafafa;
    display:block;
}

.enquire-button:hover{
    background-color:#fafafa;
    color:#555;
}
.hidden{padding-left:10px;}

.container-social{width: 30px;}  

  


  
    @media screen and (min-width:768px){
      
      /* services desktop */
      #services {display:flex;}
      #services div {
        flex-grow: 1;
        }

      /* about desktop */
    
         
        #about-text, #about-img {
         
          width: 50% !important;
          float: left;
          border-right: 2px solid #fff;
          border-bottom:none;
          height: calc(100vh - 140px);
          
         
        }

        #about-text{overflow-y: scroll;
          z-index:1;}
      
       
       #about-text{
        position:relative;
        padding:0 80px;
       }
      
        .wrap-content{
      
          padding:0;
          padding: 30px 0;
          text-align: justify;
         
          }
          .portfolio-wrap{width: 50%;float:left;}
          .portfolio-img{
            width: 100%;
  
          
    
          }
        
            footer{clear:both;}  
            
            .contact-wrap{
            
              margin:10px 80px 0; 
              
            
              }
            
            .contact-form{
                
                padding:20px;
            }  
            .container-social{width: 80px;}  
  
    }